div {
  width: 100%;
  outline: 1px solid black;
  /* background-color: grey; */
  text-align: center;
}

.boxA {
  height: 75px;
}

.boxB {
  height: 150px;

}

.boxC {
  height: 125px;
}

.boxD {
  height: 125px;
}

.boxE, .boxF, .boxG, .boxH {
  height: 250px;
  width: 50%;
}


.boxI {
  height: 80px;
}


/* width 768px */

@media(min-width: 768px){


  .boxA {
    width: 960px;
    height: 100px;

  }
  
  .boxB {
    width: 200px;
    height: 600px;
  }
  
  .boxC {
    width: 380px;
    height: 200px;
  }
  
  .boxD {
    width: 380px;
    height: 200px;
  }
  
  .boxE, .boxF, .boxG, .boxH {
    width: 190px;
    height: 250px;
  }
  
  .boxI {
    width: 760px;
    height: 150px;
  }
}